.Price_divv{
    border-bottom: 2px solid blue;

}

.BusCard3_depoertdiv{
    margin-top: -180px;
}

.dark_divv{
    font-weight: bold;
}

.acue_divv{
    color: aqua;
}

.busCard3_boxshadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}