.special-discount {
  margin-left: -70px;
}
.text {
  /* margin-right: 580px; */
  font-size: large;
}

.best-price {
  /* margin-left: -70px; */
}

.special-dis-text {
  margin-left: 50px;
}

@media only screen and (max-width: 768px) {
  .why-book-withUs-Header {
    font-size: 33px;
  }
}
