@media (max-width: 40em) {
  .Header-content {
    display: none;
  }
  .Header-content-forMobile {
    height: 50px;
    margin-bottom: 50px;
  }
  .nab-formobile-view {
    height: 25px !important;
  }
}

@media only screen and (min-width: 768px) {
  .Header-content-forMobile {
    display: none;
    margin-left: 10px;
    color: white;
  }
}
