.md-form.md-outline {
  margin: 0 !important;
}
.input-wrapper {
  padding: 1rem;
  -webkit-box-shadow: 2px 2px 7px 0px #c7c7c7;
  -moz-box-shadow: 2px 2px 7px 0px #c7c7c7;
  box-shadow: 2px 2px 7px 0px #c7c7c7;
  margin-bottom: 1rem;
}
input[type="date"] {
  width: 100%;
  font-size: 0.8rem;
}
input[type="date"] {
  border: none;
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-bottom: 3rem;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type="number"] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: 0.25rem;
}
.number-input.number-input button {
  width: 2.6rem;
  height: 0.7rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
}
.number-input.number-input button:before,
.number-input.number-input button:after {
  width: 0.7rem;
  background-color: #495057;
}
.number-input.number-input input[type="number"] {
  max-width: 4rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

.expandPanel p {
  margin: 0;
}

.service-body ul li{
  display: block;
    padding-right: 25px;
    position: relative;
    width: auto;
    height: auto!important;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
}

.nearby-landmark {
  padding: 10px 0;
}
ul{
  display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nearby-landmark li{
  padding: 5px 10px;
    width: 33%;
    border-right: 1px solid #eee;
    display: inline-block;
    font-size: small;
}

.nearby-landmark li span:last-child{

  float: right;
    right: 0;
}

.nearby-landmark li span{
  max-width: 80%;
    display: inline-block
}
