.fonnt_div{
    font-weight: bold;
}

.color_chng{
    color: aqua;
    margin-left: 950px;
    font-weight: bold;
    font-size: medium;
}

.border_div{
    border-bottom: 2px solid blue;
    color: aquamarine;
}


.timmer_div{
    margin-left: 130px;
}

.border_divvv{
    border-left: 2px solid red;
    /* background-color: lightgrey; */
    margin-left: 100px;
}

.butt_div{
    background-color: aqua;
margin-left: 890px;
}

.TrainCard1_shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 1110px;
}
.TrainCard2_shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 1110px;
    height: 500px;
}

.TrainCard-font{
    font-size: bold;
}

@media (max-width: 40em){
    .TrainCard1_shadow{
        width: 395px;
       
    }

    .TrainCard2_shadow{
        width: 395px;
    }
    .color_chng{
        margin-left: 300px;
    }

    .timmer_div{
        margin-left: 30px;
    }
    .border_divvv{
        margin-left: 50px;
    }
    .butt_div{
        margin-left: 210px;
        margin-top: -20px;
    }
}