.additonalBTN{
    margin-left: 180px;
    padding: 12px 28px;
    background-color: aqua !important;
}

.additonalstg{
    margin-left: 50px;
    margin-top: 10px;
    color: aqua;
}

.additonalCard{
    margin-top: 50px;
}

.additional-str{
    margin-left: -30px;
}