.filter_part{
    position: relative;
    z-index: 3;
    margin-top: -33px;
    margin-right: -98px;
}

.button1{
    position: relative;
    z-index: 2;
    margin-bottom: -48px;
    margin-left: -130px;

}
.horizontal_tab{
    margin-top: 16px;

    
}
.button2{
    position: relative;
    z-index: 3;
    margin-right: -90px;
    margin-top: -27px;


}
.hotel_details{
    z-index: 6;
    position: relative;
    margin-left: -100px;
}
.button3{
    border-radius: 15px;
    background-color: aquamarine;
    z-index: 7;
    position: relative;
    margin-left: -20px;
}

.rate_part{
    position: relative;
    z-index: 4;
    margin-top: -28px;
    margin-left: -30px;
}
.logo1{
    position: relative;
    z-index: 9;
    margin-left: -19px;
}
.travelLg{
    position: relative;
    z-index: 5;
    margin-left: -33px;
    margin-top: 10px;
}
.rate_part2{
    position: relative;
    z-index: 10;
    margin-top: -28px;
    margin-left: -28px;
}

.button4{
    position: relative;
    z-index: 11;
    margin-left: -19px;
}

.hotel_part2{
    position: relative;
    z-index: 12;
    margin-top: -160px;
    margin-left: -100px;
}
.hotel_part3{
    position: relative;
    z-index: 12;
    margin-top: -200px;
    margin-left: -100px;
}