.navBar{
    width: 580px;
    margin-left: 430px;
    background-color: #00d3ff;
    z-index: 2;
    position: relative;
    margin-top: -30px;
}
.imgClass{
    background-color: #c4f5ff;
}
.hotelapplogo{

    /* margin-left: -170px; */
    width: 100%;
}
.hotelBannerCard{
    width: 22rem;
}


@media (max-width: 40em) {
    .hotelBannerCard{
        display: none;
    }
    .hotelapplogo{
        margin-left: 5px;
    }
    .navBar{
        width: 100%;
        margin-left: 10px !important;
        margin-top: 10px;
    }
}