.button_Divvvv{
    margin-left: 800px;
    /* background-color: aqua; */
}

.btn-success{
    background-color: aqua;
}

@media (max-width: 40em){
    .button_Divvvv{
        margin-left: 200px;
    }
}