.site-card-border-less-wrapper {
  padding: 30px;
  /* background: #ececec; */
  border: 1px solid;
}



.formControl {
  margin-top: -10px;
}



@media (max-width: 40em) {
  .sortResultCard1 {
    display: none;
  }
  .form1 {
    margin-left: 10px;
  }
  .form2 {
    margin-left: 10px;
    margin-top: 10px;
  }
}
