.site-card-border-less-wrapper {
  padding: 30px;
  /* background: #ececec; */
  border: 1px solid;
}

.form1 {
  position: relative;
  z-index: 2;
  margin-left: -120px;
  margin-top: 70px;
}

.form2 {
  margin-top: 60px;
  margin-left: 45px;
}

.site-input-group-wrapper .site-input-split {
  background-color: #fff;
}

.site-input-group-wrapper .site-input-right {
  border-left-width: 0;
}

.site-input-group-wrapper .site-input-right:hover,
.site-input-group-wrapper .site-input-right:focus {
  border-left-width: 1px;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right {
  border-right-width: 0;
}

.site-input-group-wrapper .ant-input-rtl.site-input-right:hover,
.site-input-group-wrapper .ant-input-rtl.site-input-right:focus {
  border-right-width: 1px;
}

@media (max-width: 40em) {
  .sortResultCard1 {
    display: none;
  }
  .form1 {
    margin-left: 10px;
  }
  .form2 {
    margin-left: 10px;
    margin-top: 10px;
  }
}
