.FlightDetailsCard-divforAll{
    margin-left: 80px;
    margin-top: -208px;
    
}

.FlightDetailsBoder{
    border-left: 2px solid rgb(1, 148, 243);
    margin-left: 120px;
}

.flightdetailsPart{
    width: 700;
}


@media (max-width: 40em) {
    .flightdetailsPart{
        width: 200px;
    }

    .FlightDetailsBoder{
        margin-left: 50px;
    }
    .FlightDetailsCard-divforAll{
        margin-left: 20px;
    }
}
